@{
    ViewBag.Title = "Login Failure";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>

<button class="btn btn-danger" onclick="window.close()">Close</button>

<script type="text/javascript">
    window.result = { success: false };
</script>